<link rel="stylesheet" href="/stylesheets/style.css">


{{!--   moved this down below.. it was here email: {{ toUpperCase user.email }} --}}

<h1>WELCOME {{user.name}},</h1>
<h1>Your Profile is:</h1>
<p><strong>Name:</strong> {{user.name}}</p>
<p><strong>Email:</strong> {{toUpperCase user.email}}</p>
<p><strong>Team Role:</strong> {{user.teamRole}}</p>
<p><strong>Date of Birth:</strong> {{user.dob}}</p>


<!-- I added  Load the button only if the user is an admin -->
<h2><strong>{{> button user=user }}</strong></h2>
<br>
<br>

<a href="/auth/logout-page">Logout</a>  {{!--added  --}}